@import "/components/scss/var.scss";
@import "/components/scss/headerComponent.scss";
@import "/components/scss/menuComponent.scss";
@import "/components/scss/productionComponent.scss";
@import "/components/scss/aboutComponent.scss";
@import "/components/scss/specialOffersComponent.scss";
@import "/components/scss/calculatorComponent.scss";
@import "/components/scss/feedbackFormComponent.scss";
@import "/components/scss/schemeComponent.scss";
@import "/components/scss/footerComponent.scss";

.App {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto);
}
